{% extends "base.html" %}

{% block content %}
<h2>Editar Atleta</h2>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <p style="color: {% if category == 'error' %}red{% else %}green{% endif %};">
        {{ message }}
      </p>
    {% endfor %}
  {% endif %}
{% endwith %}

<form method="POST">

    <label>Nome:</label>
    <input type="text" name="nome" value="{{ atleta.nome }}" required>
    <br><br>

    <label>CPF:</label>
    <input type="text" name="cpf" value="{{ atleta.cpf }}" required>
    <br><br>

    <label for="telefone">Telefone (WhatsApp):</label>
    <input type="text" id="telefone" name="telefone" value="{{ atleta.telefone or '' }}">

    <br><br>


    <label>Sexo:</label>
    <select name="sexo" required>
        <option value="masculino" {% if atleta.sexo == "masculino" %}selected{% endif %}>
            Masculino
        </option>
        <option value="feminino" {% if atleta.sexo == "feminino" %}selected{% endif %}>
            Feminino
        </option>
    </select>
    <br><br>

    <label>Nível:</label>
    <select name="nivel" required>
    {% for nivel in niveis %}
        <option value="{{ nivel.id }}" {% if atleta.nivel_id == nivel.id %}selected{% endif %}>
            {{ nivel.nome }}
        </option>
    {% endfor %}
    </select>
    <br><br>

    <label>Reside em Eldorado do Sul?</label>
    <select name="residente_eldorado" required>
        <option value="sim" {% if atleta.residente_eldorado %}selected{% endif %}>Sim</option>
        <option value="nao" {% if not atleta.residente_eldorado %}selected{% endif %}>Não</option>
    </select>


    <button type="submit">Salvar Alterações</button>

</form>

{% endblock %}